{{!-- <html>
<body>
    {{>header}}
    {{{body}}}
    {{>footer}}
</body>
</html> --}}
{{!-- <html>

<head>
    <meta charset="utf-8" />
    <title>Notificación Movilízate</title>
</head>

<body> --}}
<div style="margin-right: 30px;">
    <table style="width:100%;" border="0">
        <tbody>
            <tr>
                <td>
                    <div style="padding-left: 15px; padding-right: 10px; padding-top: 5px; padding-bottom: 5px; border: 1px solid rgb(135,33,117); width: 100%;">
                        <table cellspacing="0" style="width: 100%;">
                            <tr>
                                <td colspan="2" style="font-size: 13px; font-family: Arial;">
                                    <p>
                                        <img style="vertical-align: bottom;" src="{{{rutaEstilos}}}img/bullet_tit.png" />
                                        <span style="color: rgb(135,33,117); font-weight: bold; font-size: 18px; font-family: Arial; margin-top: 10px;">Notificaciones Movilízate</span>
                                    </p>
                                    <p style="font-style: italic;">{{{fecha}}}</p>
                                    <p>&nbsp;</p>
                                    <p>Buen día</p>
                                    <!-- ************************** -->

                                    <p>Apreciado usuario <br /><br /></p>
                                    <p>
                                        Se realiz&oacute; la consulta de la persona <strong>HECTOR EDUARDO GARCIA PICON</strong> con n&uacute;mero de identificaci&oacute;n
                                        <strong>7573655</strong>, el cual fue positivo al verificarlo en la(s) lista(s)
                                    </p>
                                    <p><strong>(3) - CADENA NACIONALES</strong>.</p>
                                    <p><strong>(3) - PROCESOS JUDICIALES PENALES</strong>.</p>
                                    <p><strong>(2) - PERSONA PUBLICAMENTE EXPUESTA PEP</strong>.</p>
                                    <p><strong>(1) - PROCESOS CIVILES Y FAMILIARES</strong>.</p>
                                    <p><strong>Descripcion:</strong> xxxxxx. descipcion de la lista de compliance</p>
                                    <p>&nbsp;</p>
                                    <p>La consulta se efectuó por parte de la aplicación <strong>{{{aplicacion}}}</strong>, Usuario: <b>{{{usuario}}}</b> Oficina: <b>{{{oficina}}}</b></p>
                                    <p><strong>Fuente de consulta: </strong>{{{fuenteConsulta}}}</p>
                                    <p>Esta es una notificación preventiva.</p>
                                    <!-- ************************** -->
                                    <p>Para información adicional, comuníquese con: {{{correoAdmin}}}</p>
                                    <p><br /></p>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: 13px; font-family: Arial;">
                                    <p><br />Coordialmente,<br /><br /><br />
                                        <b>Departamento de Desarrollo Tecnológico</b>
                                        <br /><br />
                                    </p>
                                </td>
                                <td style="text-align: right; font-size: 13px; font-family: Arial;">
                                    <a href="www.fundaciondelamujer.com">
                                        <img src="{{{rutaEstilos}}}img/icon_mail.png" border="0" />
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <td>
                <div style="padding-left: 15px; padding-right: 12px; background-color: rgb(135,33,117); color: #e5e5e5; vertical-align: middle; text-align: center; font-size: 12px; font-family: Arial; padding-top: 5px; padding-bottom: 5px; width: 100%;">
                    Todos los derechos reservados Copyright © 2013-2014 &nbsp;&nbsp;&nbsp;&nbsp;| <a style="text-decoration: none; color: #e5e5e5; margin-left: 10px;" href="www.fundaciondelamujer.com">www.fundaciondelamujer.com</a>
                </div>
            </td>
            </tr>
        </tbody>
    </table>
</div>

{{!-- </body>

</html> --}}